* {
	box-sizing: border-box;
}

table {
	border-spacing: 20px 0;
}

.tile {
	height: 315px;
	width: 215px;
	background-color: black;
	color: whitesmoke;
	text-align: center;
	padding-top: 50%;
}
td {
	text-align: center;
	border: 1px solid gray;
}

#para {
	padding: 15px;
	border: none;
	border-bottom: 1px solid gray;
	font-size: 20px;
}

.cap {
	background-color: gray;
	padding: 15px;
}
